<div class="wrapper m50-100">
    <div class="section">
      <div class="w-layout-grid cta8-grid">
        <div id="w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57ac-36ef57a9" class="cta8-content-wrap">
          <div class="cta8-headline-wrap">
            <div class="size3-text">{{ texts.35c884dc }}<br></div>
            <p class="paragraph-70">{{ texts.1e79f7ce }}<br></p>
          </div>
        </div>
        <div id="w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b4-36ef57a9" class="cta8-form w-form">
          <form id="email-form" name="email-form" data-name="email" method="get" class="cta8-form-wrap w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b5-36ef57a9" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded"><input type="email" class="text-field w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b6-36ef57a9 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required=""><input type="email" class="text-field w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b7-36ef57a9 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your number" id="email-2" required=""><input type="email" class="text-field w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b8-36ef57a9 w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Enter your email" id="email-2" required=""><input type="submit" value="Submit" data-wait="Please wait..." id="w-node-_7e01258a-3383-6ac7-1470-ad2f36ef57b9-36ef57a9" class="button-small form-centered-button w-button"></form>
          <div class="success-message w-form-done">
            <div>{{ texts.5a0ea5a1 }}</div>
          </div>
          <div class="error-message w-form-fail">
            <div>{{ texts.-7c112e99 }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>