<a id="notification" data-w-id="fc560965-213c-5f5a-18ab-3a6cb5c55beb" href="{{ links.221ab3a2 }}" target="_blank" class="notification-link-wrap w-inline-block">
    <div class="top-notification">
      <div class="section">
        <div class="w-layout-grid other4-grid">
          <div id="w-node-fc560965-213c-5f5a-18ab-3a6cb5c55bef-b5c55beb" class="notification-content">
            <div class="other4-text">{{ texts.1766d208 }}</div><img src="{{ images.86d03eb.url }}" alt="{{ images.86d03eb.alt | trim | escape }}" class="button-arrow">
          </div>
        </div>
      </div>
    </div>
  </a>